
    
<div class="population"> Population: {{population}}</div>

<section class="hero is-medium" >
  <div class="hero-body" *ngIf="isWaitingForQuestion">
    <div class="container  has-text-centered">
      <h1 class="title">
        Waiting For Questions
      </h1>
      <h2 class="subtitle">
        <a class="  button is-success  is-outlined is-large" (click)=createQuestion()>Create Question</a>
      </h2>
    </div>
  </div>

  <div class="hero-body" *ngIf="!isWaitingForQuestion">
    <div class="container">
      <h1 class="title">
        Question: {{question.question}}
      </h1>
      <div class="subtitle">
        
        <div class="columns is-multiline ">
          <div  class="column is-full">Choices: </div>
          <div class="centered column is-half" *ngFor="let choice of question.choices">
              <button class="button column is-half" (click)="onQuestionClick(choice)">{{choice}}</button>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>