/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/css/bulma.min.css';
/* .is-vertical-center {
    height: 100vh;
    align-items: center;
    display: flex;
  } */