

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <a class=" column button is-primary  is-outlined  
      is-large is-fullwidth is-offset-one-quarter is-half"
      (click)=createroom()>
        Create Room
      </a>
      <a class=" column button is-primary  is-outlined  
      is-large is-fullwidth is-offset-one-quarter is-half"
      (click)=enterRoom(roomid.value)>
        Room ID: 
          <input class="input" type="text" #roomid (click)="$event.stopPropagation()">
      </a>
    
    </div>
  </div>
</section>